/*TACOS TACOS EVERYWHERE*/
/*replace "readers" with stuff*/  
div.titlebox span.word {  
display: none  
}  
div.titlebox span.number:after {  
content: " Unixfappers"  
} 
/*sticky menu bar - thanks to r/manga's mod errorcache*/
/*sticky menu bar - original thanks to Raerth*/
/*hack to enable positioning of child elements*/
.titlebox form {
    position: static
}
/*turns top quote in sidebar into menu container*/
.titlebox blockquote:first-child {
    border-left: none;
    z-index: 10
}
/*turns first paragraph into menu title*/
.titlebox blockquote:first-child p:first-child {
    margin-top: 0px;
    padding: 5px;
    width: auto;
    font-size: 12pt;
    border: 1px solid #369;
    font-weight: bold;
    color: black;
    cursor: default
}
/*turns the lists into menus*/
.titlebox blockquote ul {
    padding: 5px;
    /*border: 1px solid #369;*/
    margin: 0px
}
/*hide and styles lists*/
.titlebox blockquote ul li {
    display: none;
    padding: 7px;
    border: 1px solid #369;
    text-align: left
}
/*makes whole list item selectable*/
.titlebox blockquote li a {
    display: block
}
/*shows menu on hover*/
.titlebox blockquote ul li:first-child, .titlebox blockquote ul:hover li {
    display: block
}
/*turns top list item into section header*/
.titlebox blockquote li:first-child {
    font-size: 13pt;
    text-align: center;
    padding: 4px;
    color: #2F4C68;
    cursor: default
}
/*styling menu items*/
.titlebox blockquote:first-child ul li:hover {
    background: #b5b5b5
}
/*custom size for menu sections*/
.titlebox blockquote ul:nth-of-type(1) {
    width: auto
}
.titlebox blockquote ul:nth-of-type(2) {
    width: auto
}
.titlebox blockquote ul:nth-of-type(3) {
    width: auto
}
.titlebox blockquote ul:nth-of-type(4) {
    width: auto
}
.flair-arch:before {
    content: "";
    padding-right: 3px;
    text-align: right;
    float: left;
    width: 24px;
    height: 18px;
    background: url(%%arch%%);
    background-repeat: no-repeat;
}

.flair-crunchbang:before {
    content: "";
    padding-right: 3px;
    text-align: right;
    float: left;
    width: 24px;
    height: 23px;
    background: url(%%crunchbang%%);
    background-repeat: no-repeat;
}
.flair-debian:before {
    content: "";
    padding-right: 3px;
    text-align: right;
    float: left;
    width: 24px;
    height: 21px;
    background: url(%%debian%%);
    background-repeat: no-repeat;
}
.flair-fedora:before {
    content: "";
    padding-right: 3px;
    text-align: right;
    float: left;
    width: 24px;
    height: 23px;
    background: url(%%fedora%%);
    background-repeat: no-repeat;
}
.flair-mageia:before {
    content: "";
    padding-right: 3px;
    text-align: right;
    float: left;
    width: 18px;
    height: 24px;
    background: url(%%mageia%%);
    background-repeat: no-repeat;
}
.flair-mint:before {
    content: "";
    padding-right: 3px;
    text-align: right;
    float: left;
    width: 28px;
    height: 24px;
    background: url(%%mint%%);
    background-repeat: no-repeat;
}
.flair-opensuse:before {
    content: "";
    padding-right: 3px;
    text-align: right;
    float: left;
    width: 24px;
    height: 24px;
    background: url(%%opensuse%%);
    background-repeat: no-repeat;
}
.flair-pclos:before {
    content: "";
    padding-right: 3px;
    text-align: right;
    float: left;
    width: 25px;
    height: 24px;
    background: url(%%pclos%%);
    background-repeat: no-repeat;
}
.flair-slackware:before {
    content: "";
    padding-right: 3px;
    text-align: right;
    float: left;
    width: 25px;
    height: 24px;
    background: url(%%slackware%%);
    background-repeat: no-repeat;
}
.flair-ubuntu:before {
    content: "";
    padding-right: 3px;
    text-align: right;
    float: left;
    width: 24px;
    height: 24px;
    background: url(%%ubuntu%%);
    background-repeat: no-repeat;
}

/*.arrow.down
{
   visibility: hidden;
   display: none;
}*/

